@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}


body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-image: url('https://github.com/pauloalfeu/if-menu/blob/main/ifmenu/menuapp/templates/assets/background-for-page.png?raw=true');
    background-size: 500vh 100vh;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
}



header h1 img {
    width: 28vh; /* Ajuste o valor para o tamanho desejado */
    height: 15vh; /* Ajuste o valor para o tamanho desejado */
  }

.fas {
    margin-right: 5px;
}

a {
    color: #1E1E1E;
    text-decoration: none;
    font-weight: bold;
    text-decoration: underline;
  }

main {
    background-color: transparent;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    margin: 0 auto;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    text-align: left;
}

#nome, #contato {
    padding: 8px; /* Adiciona um espaço interno de 10 pixels */
  }

button {
    background-color: #1E1E1E;
    color: #fff;
    padding: 15px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    color: #333;
    display: flex;
    justify-content: space-around;
}

footer div {
    text-align: center;
}

@media (max-width: 750px) {
    footer {
        color: #333;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding-top: 20vh;
    }

    .footer-div {
        padding-top: 5vh;
    }
    
  }

  @media (min-height: 600px) {
    footer {
        color: #333;
        display: flex;
        justify-content: space-around;
        padding-top: 11vh;
    }
  }

  @media (min-height: 800px) {
    footer {
        color: #333;
        display: flex;
        justify-content: space-around;
        padding-top: 20vh;
    }

    form {
        padding-top: 7vh;
    }
  }
